@font-face {
    font-family: OpenSans;
    src: url(font/OpenSans-Semibold.ttf);
  }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-weight: normal;
    font-family: OpenSans;
    font-size: 16px;
}

:root{
    --color-back: rgba(255, 255, 255);
    --color-main: #d2dae2;
    --color-top: black;
    --color-shadow: rgba(0, 0, 0, 0.5);
    --color-active: #808e9b;

    --px-shadow: 8px;
    --px-border: 2px;
    --px-radius: 16px;

    --speed-trans: 0.25s;
  }

html,
body {
    width: 100%;
}

/* MAIN ************************************************************************************************/

#main {
   display: flex;
   flex-direction: row;
}

/*
.##....##....###....##.....##.########.....###....########.
.###...##...##.##...##.....##.##.....##...##.##...##.....##
.####..##..##...##..##.....##.##.....##..##...##..##.....##
.##.##.##.##.....##.##.....##.########..##.....##.########.
.##..####.#########..##...##..##.....##.#########.##...##..
.##...###.##.....##...##.##...##.....##.##.....##.##....##.
.##....##.##.....##....###....########..##.....##.##.....##
*/

header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
    border-bottom: var(--px-border) solid var(--color-top);
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
}

header span, header a {
    color: var(--color-top);
    text-decoration: none;
}

.header__logo div {
    display: inline-block;
}

.header__logo label {
    font-size: 32px;
    vertical-align: super;
    cursor: pointer;
}

.header__logo img {
    /* height: 32px;
    width: 32px; */
    margin-right: 8px;
}

header input {
    transition: var(--speed-trans);
    flex: 0 1 30%;
    color: black;
    height: 32px;
    border-radius: var(--px-radius);
    border: var(--px-border) solid var(--color-top);
    padding: 8px;
    outline: none;
    text-align: center;
}

header input:focus {
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
}

.header__menu {
    display: inline-block;
    width: 400px;
    text-align: right;
}

.header__menu li{
    display: inline-block;
    margin-right: 10%;
}

header .login label {
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}

header .profile {
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    vertical-align: super;
}
/*
.########.####.##.......########.########.########...######.
.##........##..##..........##....##.......##.....##.##....##
.##........##..##..........##....##.......##.....##.##......
.######....##..##..........##....######...########...######.
.##........##..##..........##....##.......##...##.........##
.##........##..##..........##....##.......##....##..##....##
.##.......####.########....##....########.##.....##..######.
*/

.filters__head {
    text-align: center;
}

.filters__head label {
    font-size: 24px;
    vertical-align: super;
}

.filters__head img {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.filters__head label {
    color: var(--color-top);
    font-size: 24px;
    vertical-align: super;
}

.filters {  
    width: 300px;
    border: var(--px-border) solid var(--color-top);
    margin: 32px 0;
    padding: 16px;
    background-color: var(--color-main);
    border-radius: 0 var(--px-radius) var(--px-radius) 0;
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
    border-left: none;
}

.filters button {
    border: none;
    background-color: transparent;
    color: var(--color-top);
    width: 100%;
    padding: 4px 16px;
    transition: var(--speed-trans);
    outline: none;
    /* border-radius: calc(var(--px-radius) - 1px); */
}

.filters button:hover {
    background-color: var(--color-active);
}

.filters li {
    list-style: none;
    margin-bottom: 8px;
}

.filter ul {
    display: none;
    margin: 8px;
}

.filter {
    /* border-radius: var(--px-radius); */
    /* margin: 8px; */
    border: var(--px-border) solid var(--color-top); 
}

.apply-button, .clear-button {
    /* border-radius: var(--px-radius); */
    padding: 4px 16px;
    color: var(--color-top);
    border: var(--px-border) solid var(--color-top); 
    width: 100%;
    margin-top: 8px;
    text-align: center;
    transition: 0.25s;
    cursor: pointer;
    background-color: white;
}

.apply-button label {
    font-size: 24px;
    vertical-align: super;
    cursor: pointer;
}

.apply-button img {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.apply-button:hover, .clear-button:hover {
    background-color: var(--color-active);
}

hr {
    border: calc(var(--px-border) / 2) solid var(--color-top);
    margin: 16px;
}

/*
.########..########.##.....##.####..######..########..######.
.##.....##.##.......##.....##..##..##....##.##.......##....##
.##.....##.##.......##.....##..##..##.......##.......##......
.##.....##.######...##.....##..##..##.......######....######.
.##.....##.##........##...##...##..##.......##.............##
.##.....##.##.........##.##....##..##....##.##.......##....##
.########..########....###....####..######..########..######.
*/

.devices {
    width: 100%;
}

.devices li {
    margin-left: 32px;
    margin-bottom: 32px;
    list-style: none;
    clear: both;
    border: var(--px-border) solid var(--color-top); 
    background-color: var(--color-main);
    position: relative;
    display: inline-block;
    width: calc(100% - 32px);
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
    border-radius: var(--px-radius) 0 0 var(--px-radius);
    border-right: none;
    padding: 16px;
}
/* .devices li:first-child {
    border-top: none;
} */

.devices .item-img {
    width: 128px;
    height: 128px;
    float: left;
    border: var(--px-border) solid var(--color-top); 
    /* margin: 16px; */
    padding: 16px;
    background-color: white;
    /* border-radius: 8px; */
}

.topbar, .botbar {
    background-color: var(--color-main);
    border: var(--px-border) solid var(--color-top); 
    border-radius: var(--px-radius) 0 0 var(--px-radius);
    padding: 16px;
    margin: 32px;
    margin-right: 0;
    border-right: none;
    clear: both;
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
}

.topbar label {
    color: var(--color-top);
}

.topbar select {
    background-color: white;
    color: var(--color-top); 
    padding: 4px 16px;
    margin-left: 8px;
    margin-right: 32px;
    transition: 0.25s;
    border: var(--px-border) solid var(--color-top); 
    /* border-radius: var(--px-radius); */
}

.topbar select:hover {  
    background-color: var(--color-active);
}

.botbar button {
    border: 1px solid #4788C7; 
    background-color: #DFF0FE;
    color: #4788C7; 
    padding: 4px 16px;
    transition: 0.25s;
}

.botbar button:hover {
    background-color: #4788C7;
    color: white;
}

.item-more img, .item-reviews img, .item-compare img, .item-prices img {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.item-more, .item-reviews, .item-compare, .item-prices {
    /* background-color: var(--color-main); */
    display: inline-block;
    text-decoration: none;
    border: var(--px-border) solid var(--color-top);
    padding: 4px 16px;
    /* border-radius: 8px; */
    color: var(--color-top);
    text-align: center;
    margin-right: 8px;
    background-color: white;
    /* box-shadow: 0 0 var(--px-shadow) var(--color-shadow); */
    transition: var(--speed-trans);
}

.item-more:hover, .item-reviews:hover, .item-compare:hover, .item-prices:hover {
    background-color: var(--color-active);
}

.item-reviews label, .item-more label, .item-compare label, .item-prices label {
    display: inline-block;
    vertical-align: top;
    /* margin-top: 12px; */
    margin-left: 8px;
    cursor: pointer;
    vertical-align: super;
    font-size: 24px;
}

.devices .item-desc, .devices .item-fvalues, .devices .item-name {
    position: absolute;
    left: 160px;
    overflow:hidden;
    position: absolute;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    width: calc(100% - 192px);
    user-select: all;
}

.devices .item-name {
    top: 16px;
    font-size: 32px;
}

.devices .item-desc {
    top: 100px;
}

.devices .item-fvalues {
    top: 120px;
}

.devices .item-price {
    position: absolute;
    left: 160px;
    top: 64px;
    /* font-size: 24px; */
    border: var(--px-border) solid var(--color-top);
    padding: 4px 16px;
}

/*
....###....##.....##.########.##.....##
...##.##...##.....##....##....##.....##
..##...##..##.....##....##....##.....##
.##.....##.##.....##....##....#########
.#########.##.....##....##....##.....##
.##.....##.##.....##....##....##.....##
.##.....##..#######.....##....##.....##
*/

.auth-button {
    border: var(--px-border) solid var(--color-top);
    background-color: white;
    color: var(--color-top);
    padding: 4px 16px;
    transition: 0.25s;
    margin-top: 16px;
}

.auth-button:hover {
    background-color: var(--color-active);
    cursor: pointer;
}

.auth-button img {
    width: 32px;
    height: 32px;
    margin: 0;
    margin-right: 8px;
}

.auth-button label {
    font-size: 24px;
    vertical-align: super;
    cursor: pointer;
}

.auth-input {
    color: black;
    height: 32px;
    border-radius: var(--px-radius);
    border: var(--px-border) solid var(--color-top);
    padding: 8px;
    margin-bottom: 8px;
    transition: var(--speed-trans);
    width: 100%;
    outline: none;
    text-align: center;
}

.auth-input:hover {
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
}

.auth-head {
    color: var(--color-top);
    font-size: 24px;
    margin-bottom: 32px;
}

.auth-form {
    margin: 32px;
    background-color: var(--color-main);
    display: inline-block;
    border: var(--px-border) solid var(--color-top);
    border-radius: var(--px-radius);
    padding: 16px;
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
}

.auth-form label {
    color: var(--color-top);
}

/*
.##.....##..#######..########..########
.###...###.##.....##.##.....##.##......
.####.####.##.....##.##.....##.##......
.##.###.##.##.....##.########..######..
.##.....##.##.....##.##...##...##......
.##.....##.##.....##.##....##..##......
.##.....##..#######..##.....##.########
*/

#device {
    margin: 16px;
    list-style: none;
    clear: both;
    /* border-top: 1px solid black;
    padding-top: 8px; */
    position: relative;
    display: inline-block;
    width: calc(100% - 32px);
}

#device .item-name {
    font-size: 32px;
}

#device .item-price {
    font-size: 24px;
    border: var(--px-border) solid var(--color-top);
    padding: 0 16px;
}

#device .item-img {
    padding: 16px;
    width: 256px;
    height: 256px;
    float: left;
    margin-right: 16px;
}

#review, #stores, #myReview {
    margin: 16px 0;
    background-color: var(--color-main);
    display: inline-block;
    border: var(--px-border) solid var(--color-top);
    border-left: none;
    border-right: none;
    padding: 16px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
}

#review label, #stores label, #myReview label {
    color: var(--color-top);
    font-size: 24px;
}

#myReview select {
    background-color: white;
    color: var(--color-top); 
    padding: 4px 16px;
    margin-left: 8px;
    margin-right: 32px;
    transition: 0.25s;
    border: var(--px-border) solid var(--color-top); 
    /* border-radius: var(--px-radius); */
}

#myReview select:hover {  
    background-color: var(--color-active);
}

#myReview button {
    color: var(--color-top); 
    background-color: white;
    padding: 4px 16px;
    border: var(--px-border) solid var(--color-top); 
    transition: var(--speed-trans);
}

#myReview button:hover {
    background-color: var(--color-active);
}

#myReview input, #myReview textarea {
    border: var(--px-border) solid var(--color-top); 
    padding: 8px;
    /* width: 100%; */
}

.comment {
    border: var(--px-border) solid var(--color-top);
    margin: 8px;
    display: inline-block;
    padding: 16px;
    background-color: white;
    width: calc(50% - 32px);
    text-align: left;
    vertical-align: top;
}

.comment img {
    float: left;
    margin: 8px;
}

.comment h3 {
    border: var(--px-border) solid var(--color-top);
    padding: 8px;
    width: 100%;
    margin-bottom: 8px;
}

.comment__login {
    font-size: 24px;
}

#stores table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

#stores td {
    border: var(--color-top) solid var(--px-border);
    margin: 16px;
    padding: 8px;
    color: var(--color-top);
    background-color: white;
}

#stores th {
    color: var(--color-top);
    padding: 8px;
}

.stores__price, .stores__name {
    font-size: 32px;
}

#stores a {
    text-decoration: none;
    border: var(--px-border) solid var(--color-top);
    padding: 4px 16px;
    color: var(--color-top);
    background-color: white;
    text-align: center;
    margin-left: 8px;
    vertical-align: super;
}

/*
.########..########...#######..########.####.##.......########
.##.....##.##.....##.##.....##.##........##..##.......##......
.##.....##.##.....##.##.....##.##........##..##.......##......
.########..########..##.....##.######....##..##.......######..
.##........##...##...##.....##.##........##..##.......##......
.##........##....##..##.....##.##........##..##.......##......
.##........##.....##..#######..##.......####.########.########
*/

#seen, #comments {
    margin: 16px;
    margin-top: 32px;
    background-color: var(--color-main);
    border: var(--px-border) solid var(--color-top);
    border-radius: 8px;
    padding: 16px;
    width: calc(100% - 32px);
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
}

#seen {
    margin-left: 0;
    border-radius: 0 var(--px-radius) var(--px-radius) 0;
    border-left: none;
}

#comments {
    margin-right: 0;
    border-radius: var(--px-radius) 0 0 var(--px-radius);
    border-right: none;
}   

#seen label, #comments label {
    color: var(--color-top);
    font-size: 24px;
}

.seen-item img {
    width: 128px;
    height: 128px;
    margin: 16px;
}

#seen a {
    text-decoration: none;
    color: var(--color-top);
}

.seen__sign {
    font-size: 24px;
}

.seen-item {
    display: inline-block;
    background-color: white;
    border: var(--px-border) solid var(--color-top);
    padding: 16px;
    margin: 8px;
}

.seen__button {
    width: 100%;
    text-decoration: none;
    border: var(--px-border) solid var(--color-top);
    padding: 4px 16px;
    color: var(--color-top);
    background-color: white;
    text-align: center;
    margin-top: 8px;
    vertical-align: super;
    cursor: pointer;
    transition: var(--speed-trans);
}

.seen__button img {
    width: 32px;
    height: 32px;
    margin: 0;
    margin-right: 8px;
}

.seen__button label {
    font-size: 24px;
    vertical-align: super;
    cursor: pointer;
}

.seen__button:hover {
    background-color: var(--color-active);
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/


