* {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
   width: 100%;
    font-family: sans-serif;
}

/* HEADER ************************************************************************************************/
header {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 0 1 40%;
}

.header__search {
    flex: 0 1 30%;
}

.header__menu {
    display: inline-block;
    width: 400px;
    text-align: right;
}

.header__menu li{
    display: inline-block;
    margin-right: 10%;
}

/* HEADER_END ************************************************************************************************/

/* MAIN ************************************************************************************************/

#main {
   display: flex;
   flex-direction: row;
}

/* FILTERS ************************************************************************************************/

.filters__head {
    text-align: center;
}

.filters {  
    width: 200px;
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

.filters li {
    list-style: none;
    margin-top: 8px;
}

.filter ul {
    display: none;
}

.filter {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

/* FILTERS_END ************************************************************************************************/

/* DEVICES ************************************************************************************************/

.devices {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

.devices li {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
    list-style: none;
}

#category img {
    width: 128px;
    height: 128px;
    float: left;
}

.devices .topbar {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

.devices .botbar {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

/* DEVICES_END ************************************************************************************************/

/* REVIEWS ************************************************************************************************/

#device {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

#review {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

.comment h3 {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

#device img {
    float: left;
    width: 128px;
    height: 128px;
}

/* DEVICE_END ************************************************************************************************/

/* STORES ************************************************************************************************/

#stores {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

#stores table {
    width: 100%;
}

#stores td {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

/* STORES_END ************************************************************************************************/



